REDIS_KEY_PREFIX=phaseone:live
PRESENCE_TTL_SECONDS=45
TRACKER_ORIGINS=http://localhost:4321,https://phaseonelabz.com,https://www.phaseonelabz.com
DASHBOARD_ORIGIN=http://localhost:8080
MONITOR_USERNAME=admin
MONITOR_PASSWORD_HASH='scrypt$32768$8$1$replace-with-salt$replace-with-hash'
SESSION_SECRET=replace-with-at-least-32-random-characters
SESSION_TTL_HOURS=12
